/* Search Bar Styles */
.search-bar {
    width: 100%;
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
  }
  
  .search-bar input {
    padding: 10px;
    font-size: 16px;
    border-radius: 5px;
    border: 1px solid #ccc;
    width: 80%;
  }
  
  .search-bar button {
    padding: 10px 15px;
    font-size: 16px;
    border: none;
    background-color: #3498db;
    color: white;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .search-bar button:hover {
    background-color: #2980b9;
  }
  